html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
   font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2rem;
    font-weight: 54;
    line-height: 1;
    color: #FFFFFF;
  }
  h1{
    font-family:'Monaco', monospace;
    font-weight: 700;
    text-align:center;
    font-size: 6rem;
  }
  h2{
    font-family:'Monaco', monospace;
    font-weight: 700;
    text-align:center;
    font-size: 3.5rem;
  }
  a {
    text-decoration: none;
    color: #FFFFFF;
  }
  ul {
  list-style: none;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background: #6D8772;
    z-index:10;
  }
  .nav-list {
    display: flex;
    margin-right:2rem;
  }
  .nav-list a {
    display:block;
    font-size:2.2rem;
    padding:2rem;
  }
  .nav-list a:hover {
    background: #4D5D53;
  }

  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    padding: 0 2rem;
    background-color: #89a48e;
    background-image: linear-gradient(62deg, #3648 15%, #89a48e 100%);
  }
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style:italic;
    color: #4D5D53;
  }


  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    width:100%;
    background-color: #ADC3B7;
    background-image: linear-gradient(62deg, #ADc3B7 15%, #5F8575 100%);
  }
  .projects-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid #FFFFFF;
  } 
 .grid-projects {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   grid-gap: 2rem;
   width: 100%;
   max-width:1280px;
   margin: 0 auto;
   margin-bottom: 6rem;
}
.project {
  background: #89a48e;
  border-radius: 7px;
}
.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
.project:hover .code {
  color: #5F8575;
}
.code {
  color: #89a49e;
  transition: color 0.3s ease-out;
}

.project_img {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background:#5F8575;
}
.contact-header > h2 {
  font-size: 6rem;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}